/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .logo img { 
                    
      float: right;
      width: 50px;
      height:auto
   }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  body {
      font-family: 'Montserrat', sans-serif;
  }
  
  .logo img { 
                    
      float: right;
      width: 50px;
      height:auto
   }
  /* Utilty Classes*/
  
  .hero_wrapper {
      color:white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  
  .hero_wrapper h1 {
      font-size: 2.4rem;
      text-align: center;
  }
  
  
  .hero_wrapper span {
      margin-left: 5rem;
      display: inline-block;
      margin-bottom: .5rem;
  }
  
  .form_code {
      text-align: center;
  }
  
  .form_code .post_code {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 2rem;
      padding: .6rem;
      border:none;
      outline:none;
  }
  
  .form_code button {
      width: 40%;
      text-align: center;
      background-color: #00bab1;
      color: white;
      padding: .6rem;
      margin:1rem auto 0rem;
      border: none;
      border-radius: .3rem;
  }
  
  
  /*  Product Section */
  
  .product {
      width: 90%;
      margin-top: .3rem;
      margin-left: auto;
      margin-right: auto;
  }
  
  .product__list__item {
      float: left;
      width: 32%;
      margin-left: .5rem;
  }
  
  
  .product__list__item:first-of-type {
      margin-left: 0;
  }
  
   screen and (max-width: 700px) {
      .product__list__item { 
          width: 100%;
          float: none;
      }
  } 